h1 {font-size: 40px; line-height: 48px; margin-bottom: 12px;}
.note {background-color: #333333; padding: 15px 10px 20px; color: #fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
img {width: 100%;}
